body{
	background-color: blue;
}	
img{
	width: 100%;	
}

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
#content {
	width: 75%;
	margin: 90%;
}

#bleDeviceList{
	
}	
#messageInput{
	width: 20%;
}
#list{
	background-color: red;
}

/* width will be 100% of content */
#refreshButton{
	width: 100%;
}
#sendButton{
	width: 30%;
}
#ledOnButton{
	width: 30%;
}
#ledOffButton{
	width: 30%;
}
#ledOnButton1{
	width: 30%;
}
#ledOffButton1{
	width: 30%;
}